.wrapper {
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(20, 4%, 16%);
}

.logo {
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 200;
    color: white;
    font-weight: 100;
    display: flex;
    padding-left: 15px;
}

p {
    font-weight: 100;
    color: white;
}

.links {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    padding-right: 15px;
}

.link {
    text-decoration: none;
    color: inherit;
  }
  
  .link:focus {
    outline: none;
    box-shadow: none;
  }